$theme: #e62878;
// .global-sub-nav-line {
//   border-bottom: 1px solid #e1e1e1;
//   .global-sub-nav-inner {
//     max-width: 1200px;
//     margin: 0 auto;
//   }
//   .global-sub-nav-title {
//     @include f(18,px);
//     font-weight: 400;
//     height: 50px;
//     line-height: 50px;
//   }
// }

.goods-detail {
    max-width: 1200px;
    margin: 0 auto;
    .detail-image {
        display: block;
        width: 100%;
    }
}
.property-option {
    padding-top: 30px;
    .property-option-title {
        @include f(20,px);
        font-weight: 300;
        padding-bottom: 15px;
        border-bottom: none;
        transition: border-color .6s ease;
        .property-option-value {
            @include f(24,px);
            padding-left: 150px;
            font-weight: 500;
            display: inline-block;
            opacity: 0;
            transform: translateY(10px);
            transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s ease 0s;
        }
        .property-option-change {
            @include f(16,px);
            @include abs;
            color: #999;
            right: 35px;
            opacity: 0;
            transform: translateY(10px);
            transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s ease 0s;
            &:hover {
              color: $theme;
            }
        }
    }
    .property-option-btn {
        width: 100%;
        height: 60px;
        border-color: #cfcfcf;
        @include f(18,px);
        font-weight: 300;
        border-radius: 4px;
        transition: border-color .2s ease;
        &:hover {
            border-color: $theme;
            color: $theme;
            background-color: #FFF;
        }
        &:focus {
            border-color: #999;
            color: #333;
            background-color: #FFF;
        }

    }
    .property-option-list {
        max-height: 380px;
        opacity: 1;
        transition: opacity .6s ease,max-height .6s ease;
        .el-col {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .active{
      color:$theme;
      border-color: $theme !important;
    }
}
.property-option-show {
  .property-option-list {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .6s ease,max-height .6s ease;
  }
  .property-option-title {
    border-bottom: 1px solid #eaeaea;
    transition: border-color .6s ease;
    .property-option-value {
      // border-bottom: none;
      transform: none;
      opacity: 1;
      transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s ease 0s;
    }
    .property-option-change {
      transform: none;
      opacity: 1;
      transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s ease 0s;
    }
  }
}
.product-number {
    border-top: none;
    border-bottom: 1px solid #eaeaea;
    padding: 50px 0 25px;
    margin: 0;
    height: 32px;
    @include rel;
    @include clear;
    .product-number-label {
        @include f(20,px);
        @include abs;
        font-weight: 300;
    }
    .product-number-value {
        @include abs;
        right: 0;
    }
}
.product-buy {
    margin-top: 60px;
    .product-price {
        @include tar;
    }
    .product-price-value {
        @include f(20,px);
        color: $theme;
        font-weight: 300;
        span {
            @include f(50,px);
        }
    }
    .product-price-time {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        float: none;
        line-height: 18px;
    }
    .product-button-line {
        margin-top: 32px;
        @include tar;
    }
    .buy-now {
        height: 48px;
        line-height: 48px;
        padding: 0 80px;
        @include f(16, px);
        @include border-radius(4px);
    }
    .mt-button--primary {
      color: #fff;
      background-color: $theme;
      border-color: $theme;
    }
    .btn-addcart {
        @include f(16, px);
        color: #555;
        &:hover {
          color: $theme;
        }
    }
}

.product-detail {
    margin-top: 70px;
    padding: 55px 0;
    @include tac;
    border-top: 1px solid #ddd;
    .product-detail-title {
        @include f(30,px);
        font-weight: 300;
        margin-bottom: 30px;
    }
    .product-detail-image-box {
        margin-bottom: 5px;
    }
}
